<h1>About</h1>
<div id="cart">
    <i class="fa-solid fa-cart-shopping"></i>
</div>
<div class="card-header my-3"> This is a concept project which aims to help log and store job information in between contractor and subcontractors.</div>
        
            <div >
                <div>
                <h6 class="card-subtitle mb-2 text-muted">If you need to contact me, you can use any of the following means:</h6>
                <h6 class="card-subtitle mb-2 text-muted">Email: admin@admin.com</h6>
                <h6 class="card-subtitle mb-2 text-muted">Mobile: 0777 444 33 22</h6>
                <h6 class="card-subtitle mb-2 text-muted">Whatsapp: 0777 444 22 11</h6>
                </div>
                <br>
                <div>
                <a class="card-link btn btn-primary" href="/">Go back to home page</a>

            </div>

    </div>  
