<h1>Home Page</h1>
<div id="cart">
    <i class="fa-solid fa-cart-shopping"></i>
</div>
<div class="card-header my-3"> This is the home page, for a short brief please visit the About section.</div>
        
            <div >
                <div>
                <h6 class="card-subtitle mb-2 text-muted">What do you want to do next?</h6>
                </div>
                <br>
                <div>
                <a class="card-link btn btn-primary" href="./login">Login</a>
                <a class="card-link btn btn-primary"  href="./register">Register User</a>
            </div>

    </div>  
